node_modules
npm-debug.log
.env
.env.local
.git
.gitignore
*.md
uploads/*
server/uploads/*
*.log
.DS_Store
dist/
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.xlsx
**/*.csv
node_modules/
.git/
server/node_modules/
server/AnalyticCore-Server/node_modules/
server/AnalyticCore-Server/ml-service/.venv/
server/AnalyticCore-Server/*.zip
server/.git/
**/uploads/*
